.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.word-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  /* flex-wrap: wrap;  */
}

.word {
  font-size: 18px;
  width: 45%;
  text-align: left;
}

.input {
  padding: 8px;
  width: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}
/* .btn-success{
  margin-left: auto;
  margin-right: auto;
} */

.results-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .word-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .word,
  .input {
    width: 100%;
  }

  .input {
    margin-top: 10px;
    width: 200px;
  }
}
