.table{
  margin: 1rem;
}

.stats-container{
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .stats-container {
    margin: 0;
  }
}
